body {
  height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #f1f5f9; 
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}

textarea {
  height: 200px;
  width: 300px;
  padding: 10px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 190px;
}

p {
  font-size: small;
  color: #6b7280;
}
